*{
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    background-image:url(./images/Captura.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 240px;
    border-bottom: 1px rgb(92, 92, 92) solid;
}
h1{
    padding-left: 80px;
    color: azure;
}
h2{
    padding-left: 80px;
    color: azure;
}

a:any-link{
    color: darkgoldenrod;
}
.hashtag{
    color: darkgoldenrod;
    padding-left: 80px;
    font-size: 20px;
    
}

/*  la etiqueta i es de la libreria font avesome  */
i:hover{
    color: aliceblue;
}
i{
    font-size: 25px;
}

body{
    background-color: #222;
}

#imagen-sobremi{
    height: 150px;
    width: 170px;
    padding-left: 80px;
}
p{
    align-items: center;
    color: azure;
    padding-left: 80px;
    padding-right: 80px;
}