*{
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    background-image:url(./images/display6.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
h1{
    padding-left: 80px;
    color: azure;
}
h2{
    padding-left: 80px;
    color: azure;
}
.hashtag{
    color: darkgoldenrod;
    padding-left: 80px;
    font-size: 20px;
}
i{
    font-size: 25px;
}

body{
    background-color: #222;
}

#imagen-sobremi{
    height: 150px;
    width: 170px;
    padding-left: 80px;
}
p{
    align-items: center;
    color: azure;
    padding-left: 80px;
}