
#footer{
    background-color: #1d1c1c;
    
}

a:any-link{
    color: darkgoldenrod;
}

#text-footer{
    color: aliceblue;
}
main{
    color: aliceblue;
}
footer > p{
    display: flex;
    color: darkgoldenrod;
    flex-direction: row-reverse;
}

i{
    font-size: 80px;
    color: aliceblue;
}

#icono-django{
    height: 20vh;
}